################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hack-WPI.sln
/Hack-WPI.pyproj
